*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

body{
  margin: 0;
  padding: 0;
  background-color: #E2B3CE;
  background-image: url(images/Deco.png);
  background-repeat: no-repeat;
  background-size: 65% auto;
  background-position: left top;
  z-index:0;

}

footer{
background-color: rgb(0, 0, 0);
color: white ;
min-height: 100px;
width: 100%;
z-index: 3;}

.layout {
    display: flex;
    gap: 20px;
  
}


.container {
    background-color: white;
    border-radius: 16px;
    padding: 30px;
}
.cormorant {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}



/*header*//*header*//*header*//*header*//*header*//*header*//*header*/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  height: 98vh;
  overflow: hidden;
}
.item:nth-child(1) {
  position: absolute;
  right: 35%;
  top: 0;
  z-index: 10;
  width: 50%;
}
.item:nth-child(1) img {
  width: 99%;
  height: auto;
}
.item:nth-child(2){
  position: absolute;
  top: 0;
  right: 24%;
  z-index: 15;
  width: 50%;
}
.item:nth-child(2) img {
  width: 63%;
  transform: translateY(20%);
  height: auto;
}
.item:nth-child(3){
position: absolute;
right: 0%;
top: 0%;
width: 50%;
z-index: 5;
}
.item:nth-child(3) img {
  width: 120%;
  transform: translateY(-20%) translatex(-10%);
  height: auto;
}
.item:nth-child(4){
position: absolute;
  top: 0%;
  left: 50%; /* ← commence au milieu de l'écran */
  width: 50%; /* ← prend les 50% de droite */
  z-index: 20
}
.item:nth-child(4) nav{
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 3vw; /* space between links */
  justify-content: flex-end;
  padding: 1.5vh 2vw;
  width: 100%;
  

}
.item:nth-child(4) a{
  font-size: 1.2vw;
  color: black;
  text-decoration: none ;
}
/*header*//*header*//*header*//*header*//*header*//*header*//*header*//*header*/




.l{
    background-image: url('https://i.pinimg.com/736x/2d/d4/36/2dd436ebe320dcaedb5db0823beb77c1.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
}


.nav {
    width: 250px;
    flex-shrink: 0;
    
    background-color: transparent;
    border: 2px solid white;
    border-radius: 16px;

}


/* main *//* main *//* main *//* main */
.main {
    flex: 1;
    background-color: rgb(255, 255, 255);
}

.grille-annonces {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: auto;
}

.card {
    background-color: #F9D6E8;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.imgcard {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    border-bottom-left-radius: 20px;
    margin-bottom: 10px;
}

.titlecard {
    font-family: "Cormorant", serif;
    font-size: 30px;
    font-weight: bolder;
    margin: 8px 0;
    color: #333;
    
}

.textcard {
    font-family: "Cormorant", serif;
    font-size: 16px;
    margin: 8px 0;
    color: #333;
    
}

.prixcard {
    background-color: #171717;
    font-family: "Cormorant", serif;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.pagination {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    font-family: "Cormorant", serif;
    color: #171717;
}
/* main *//* main *//* main *//* main */