*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

body{
  margin: 0;
  padding: 0;
  background-color: #E2B3CE;
  background-image: url(images/Deco.png);
  background-repeat: no-repeat;
  background-size: 65% auto;
  background-position: left top;
  z-index:0;

}

footer{
background-color: rgb(0, 0, 0);
width: 100%;
z-index: 3;}
nav{
  background-color: white;
  z-index: 1;
}
main{
  background-color: white;
  z-index: 2

}

.container {
    background-color: white;
    border-radius: 16px;
    padding: 30px;
}


.cormorant {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;}
  
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  height: 98vh;
  overflow: hidden;
}

.item:nth-child(1) {
  position: absolute;
  right: 35%;
  top: 0;
  z-index: 10;
  width: 50%;
}
.item:nth-child(1) img {
  width: 99%;
  height: auto;
}

.item:nth-child(2){
  position: absolute;
  top: 0;
  right: 24%;
  z-index: 15;
  width: 50%;
}
.item:nth-child(2) img {
  width: 63%;
  transform: translateY(20%);
  height: auto;
}
.item:nth-child(3){
position: absolute;
right: 0%;
top: 0%;
width: 50%;
z-index: 5;
}
.item:nth-child(3) img {
  width: 120%;
  transform: translateY(-20%) translatex(-10%);
  height: auto;
}
.item:nth-child(4){
position: absolute;
  top: 0%;
  left: 50%; /* ← commence au milieu de l'écran */
  width: 50%; /* ← prend les 50% de droite */
  z-index: 20
}
.item:nth-child(4) nav{
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 3vw; /* space between links */
  justify-content: flex-end;
  padding: 1.5vh 2vw;
  width: 100%;
  

}
.item:nth-child(4) a{
  font-size: 1.2vw;
  color: black;
  text-decoration: none ;
}

.nav{
  text-align: left;
  border-top: 50%;
  border-bottom: 50%;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.l{
    background-image: url('https://i.pinimg.com/736x/2d/d4/36/2dd436ebe320dcaedb5db0823beb77c1.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
}




.filtres {
    width: 250px;
    flex-shrink: 0;
}

.grille-annonces {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.annonce-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.annonce-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}